php_flag display_errors on
php_value error_reporting 6143
<IfModule mod_rewrite.c>
RewriteEngine on
#RewriteBase /emagine-loja
RewriteBase /pao-no-sinal

RewriteRule ^img/([0-9]+)x([0-9]+)/anonimo.png timthumb.php?src=anonimo.png&w=$1&h=$2&zc=2
RewriteRule ^usuarios/(.*)x(.*)/(.*) timthumb.php?src=usuario/$3&h=$2&w=$1&c=1
RewriteRule ^categoria/(.*)x(.*)/(.*) timthumb.php?src=categoria/$3&h=$2&w=$1&c=1
RewriteRule ^loja/(.*)x(.*)/(.*) timthumb.php?src=loja/$3&h=$2&w=$1&c=1
RewriteRule ^produto/(.*)x(.*)/(.*) timthumb.php?src=produto/$3&h=$2&w=$1&zc=2

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
</IfModule>